/* -------------------------------------------------------------------- */
/*
	linechart01.css

*/
/* -------------------------------------------------------------------- */
#graph {
    width: 600px;
    height: 300px;
}
.tick line {
    stroke-dasharray: 2 2 ;
    stroke: #ccc;
}


/* -------------------------------------------------------------------- */
