<!DOCTYPE html>
<html lang="ja">
<script src="/js/angular.min.js"></script>
<script src="click.js"></script>
<body>

<div ng-app="myApp" ng-controller="myCtrl">

<button ng-click="count_a = count_a + 1">Click A</button>
&nbsp;{{ count_a }}</p>

<button ng-click="count_b = count_b + 1">Click B</button>
&nbsp;{{ count_b }}</p>

<button ng-click="count_c = count_c + 1">Click C</button>
&nbsp;{{ count_c }}</p>

<button ng-click="count_d = count_d + 1">Click D</button>
&nbsp;{{ count_d }}</p>

<button ng-click="count_e = count_e + 1">Click E</button>
&nbsp;{{ count_e }}</p>


</div>


<p />
<a href="html_src/">src</a><p />
Jan/06/2017<p />
</body>
</html>

