table,td,th
{
border:0.5px #00f0f0 solid;
margin-left: auto;
margin-right: auto;
}

div.body
{
height: 800px;
float: left;
overflow: auto;
}

div.left
{
width: 30%;
height: 800px;
float: left;
overflow: auto;
}

div.right
{
width: 70%;
float: right;
overflow: auto;
}

div.nava
{
background-color: #fff0f0;
width: 50%;
height: 800px;
float: left;
overflow: auto;
}

div.navb
{
background-color: #0ff0ff;
width: 50%;
height: 800px;
float: left;
overflow: auto;
}

div.selection
{
background-color: #fff0f0;
width: 100%;
height: 30px;
text-align: center;
}

div.crud
{
background-color: yellow;
width: 100%;
height: 70px;
text-align: center;
}

div.contents
{
background-color: #f0f0f0;
width: 100%;
height: 700px;
float: right;
overflow: auto;
}

div.makefile
{
background-color: #f0f0f6;
width: 100%;
}

div.execute
{
background-color: #f0f0fc;
width: 100%;
}

div.tail
{
background-color: #f0f0ff;
width: 100%;
}

