<!DOCTYPE html>
<html lang="ja">
<head>
<meta http-equiv="CONTENT-TYPE" content="text/html; charset=utf-8" />
<title>Backbone.js Collection View example</title>
<script src="/js/jquery-3.1.1.min.js"></script>
<script src="/js/underscore-min.js"></script>
<script src="/js/backbone-min.js"></script>
<script src="models.js"></script>
<script src="views.js"></script>
<script src="router.js"></script>
</head>
<body>
    <h1>Backbone.js Collection View example</h1>

    <!-- The empty table we'll use as the example -->
    <table>
      <thead>
        <tr>
          <th>Firstname</th>
          <th>Lastname</th>
        </tr>
      </thead>
      <!-- We'll attach the PeopleView to this element -->
      <tbody>
      </tbody>
    </table>
<p />
<a href="html_src/">src</a><p />
Jan/08/2017<p />
</body>
</html>
