/* -------------------------------------------------------------- */
/*

	post01.css

						Jun/03/2018

*/
/* -------------------------------------------------------------- */

.red {color:#ff0000;}


div.area_out {
	background-color: #87cefa;
}

input#data {
	width: 640px;
}

/* -------------------------------------------------------------- */
