
#example {
  font-size:24px;
  color:#0000cc;
}

button#help {
	float: right;
}

span#magenta {
    color: magenta;
}
span#green {
    color: green;
}
span#blue {
    color: blue;
}

span#red {
    color: red;
}

